$grid-component-column-gap: rem($grid-gutter-size) !default;
$grid-component-row-gap-md: $grid-component-column-gap !default;
$grid-component-row-gap-sm: $grid-component-row-gap-md !default;

.grid {
  @include responsive('grid-row-gap', $grid-component-row-gap-md, $grid-component-row-gap-sm);
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $grid-component-column-gap;

  @for $i from 1 through 6 {
    &--col-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  @for $i from 2 through 6 {
    &--col-#{$i} {
      @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@mixin unset-grid {
  grid-template-columns: unset;
  grid-row-gap: unset;
  grid-column-gap: unset;
}

.carousel[data-carousel-md='1'] > .grid {
  @include media-breakpoint-up(md) {
    @include unset-grid;
    display: flex;
  }
}

.carousel[data-carousel-sm='1'] > .grid {
  @include media-breakpoint-down(sm) {
    @include unset-grid;
    display: flex;
  }
}
