$datepicker-border: $input-border !default;
$datepicker-background: $input-background !default;
$datepicker-padding: $input-padding !default;
$datepicker-background-active: $datepicker-background !default;
$datepicker-background-focus: $datepicker-background !default;
$datepicker-arrow-width: rem(32) !default;
$datepicker-arrow-height: $datepicker-arrow-width !default;
$datepicker-calendar-margin-top: 0 !default;
$datepicker-color: inherit !default;

.ui-datepicker {
  border: $datepicker-border;
  background: $datepicker-background;
  padding: $datepicker-padding;
  transform: translateY(-1px);
  user-select: none;
  width: 100%;
  max-width: rem(300);
  display: none;
  color: $datepicker-color;

  &-title {
    text-align: center;
  }

  &-prev {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: $datepicker-arrow-width;
    height: $datepicker-arrow-height;
    line-height: $datepicker-arrow-height;
    text-align: center;
    font-family: sans-serif;

    &:hover {
      text-decoration: none;
    }

    &.ui-state-disabled {
      opacity: .25;
      pointer-events: none;
    }
  }

  &-next {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: $datepicker-arrow-width;
    height: $datepicker-arrow-height;
    line-height: $datepicker-arrow-height;
    text-align: center;
    font-family: sans-serif;

    &:hover {
      text-decoration: none;
    }

    &.ui-state-disabled {
      opacity: .25;
      pointer-events: none;
    }
  }

  &-month {
    text-transform: capitalize;
  }

  &-calendar {
    width: 100%;
    margin-top: $datepicker-calendar-margin-top;

    thead {
      th {
        text-align: center;
      }
    }

    tbody {
      td {
        text-align: center;

        a {
          color: inherit;
          display: block;

          &:hover {
            background: $datepicker-background-focus;
            text-decoration: none;
          }

          &:focus {
            background: $datepicker-background-focus;
            outline: 0;
          }

          &:active,
          &.ui-state-active {
            background: $datepicker-background-active;
          }
        }

        &.ui-state-disabled {
          opacity: .25;
        }

        span {
          display: block;
        }
      }
    }
  }
}
