/*
*	Burger
*/

$burger-button-width: 44px !default;
$burger-color: #000 !default;
$burger-transition-duration: .25s !default;
$burger-transition-ease: ease !default;
$burger-stroke-width: 2px !default;
$burger-padding-x: 9px !default;
$burger-spacing-y: 9px !default;
$burger-padding-y: 13px !default;
$burger-button-height: $burger-padding-y * 2 + $burger-spacing-y * 2 + $burger-stroke-width * 3 !default;
$burger-top-rotation: -135deg !default;
$burger-bottom-rotation: -225deg !default;

.burger {
  appearance: none;
  background-color: transparent;
  position: relative;
  width: $burger-button-width;
  height: $burger-button-height;

  &__el {
    background-color: $burger-color;
    transition: all $burger-transition-duration $burger-transition-ease;
    position: absolute;
    width: calc(100% - #{$burger-padding-x * 2});
    height: $burger-stroke-width;

    &--top {
      left: $burger-padding-x;
      top: $burger-padding-y;
    }

    &--middle {
      left: $burger-padding-x;
      top: $burger-padding-y + $burger-stroke-width + $burger-spacing-y;
    }

    &--bottom {
      left: $burger-padding-x;
      top: $burger-padding-y + $burger-stroke-width * 2 + $burger-spacing-y * 2;
    }
  }

  &[aria-expanded="true"]:not(.burger--fixed) &,
  &--close & {
    &__el {
      &--top {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate($burger-top-rotation);
        margin-top: 0;
      }

      &--middle {
        opacity: 0;
        visibility: hidden;
      }

      &--bottom {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate($burger-bottom-rotation);
        margin-top: 0;
      }
    }
  }
}
