/*
*	Styles de l'outil d'administration
// scss-lint:disable ImportantRule, QualifyingElement, IdSelector, SelectorFormat
*/

.wp-admin {
  /* Admin lists */
  td.page-title {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
  }

  /* Badge */
  .badge {
    font-size: 12px;
    font-weight: 400;
  }

  /* Editor formats menu */
  .mce-menu-item {
    > .mce-text {
      font-size: 14px !important;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
      text-transform: none !important;
      text-decoration: none !important;
      font-weight: 400 !important;
      font-style: normal !important;
    }

    &.mce-menu-item-preview.mce-active {
      > .mce-text {
        color: $white;
      }
    }
  }

  /* Improve disabled */
  .disabled {
    pointer-events: none;

    > * {
      opacity: .5;
    }
  }

  /* Improve post meta box */
  .postbox {
    border-radius: 4px;

    .handle-actions .acf-hndle-cog {
      display: none !important;
    }

    .inside.acf-fields.-left {
      .acf-label > label {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: default !important;
        color: #111;
        position: relative;
        top: 4px;
        font-size: 13px;
        font-weight: 500 !important;
      }
    }
  }

  #side-sortables .acf-field.acf-field-true-false.no-label {
    padding: 12px !important;
  }

  /* Cleanup */
  #wpfooter,
  #wp-admin-bar-wp-logo,
  #wp-admin-bar-new-content,
  #wp-admin-bar-my-account .avatar,
  .hide-if-no-customize,
  #local-storage-notice,
  #icl_translate_options + br,
  #icl_translate_options + br + br,
  #icl_translate_options ~ strong + br,
  .otgs-ico-help + br,
  .otgs-ico-help + br + br,
  .toplevel_page_wpseo_dashboard .update-plugins,
  .acfml-synchronise-repeater-checkbox,
  .acf-repeater.-table.-empty .acf-table,
  #dashboard-widgets .postbox-container .meta-box-sortables::after {
    display: none !important;
  }

  /* Other improvements and fixes */
  .acf-field select {
    padding: 2px 8px !important;
  }

  #wp-admin-bar-site-name .ab-item {
    padding-left: 8px;
  }

  .widefat th,
  .widefat td {
    padding: 10px 8px !important;

    input[type='checkbox'] {
      margin-top: 1px;
    }
  }

  th.sortable a,
  th.sorted a {
    padding: 6px 0 !important;
  }

  .smaller-editor > .acf-input {
    margin-top: ln(-2);
  }

  .acf-field[data-type='tab'] + .smaller-editor > .acf-input {
    margin-top: 0;
  }

  /* WPML */
  #translation_of_wrap,
  #icl_document_language_dropdown,
  #icl_translation_priority_dropdown,
  .otgs-toggle-group,
  #icl_cfo,
  #icl_set_duplicate,
  .otgs-ico-help {
    display: none;
  }

  #icl_translations_table,
  .icl_box_paragraph {
    margin-bottom: 0 !important;
  }

  .icl_box_paragraph > p:first-child {
    margin-bottom: 8px;
  }

  .inside > br[clear='all'] {
    display: none;
  }

  #icl_translate_options {
    margin-bottom: 15px;

    ~ strong {
      display: inline-block;
      margin-bottom: 8px;
    }
  }

  /* Media library */
  .media-sidebar {
    max-width: 50%;
    width: 332px;

    .eml-toggle-collapse {
      display: none;
    }
  }

  .media-modal.acf-expanded .media-sidebar {
    max-width: 100%;
  }

  .attachment-details {
    #alt-text-description,
    .copy-to-clipboard-container,
    span[data-setting='url'] {
      display: none;
    }

    span.setting {
      margin-top: 0 !important;
      margin-bottom: 4px !important;
    }
  }

  .eml-collapse {
    width: 100% !important;
    height: auto !important;
    display: flex !important;
    flex-direction: column;

    span.setting[data-setting='title'] {
      order: -1;
    }
  }

  .attachments-browser .attachments {
    right: 364px;
  }

  .attachment-details {
    display: flex !important;
    flex-direction: column;

    span.setting[data-setting='title'] {
      order: 0;
    }

    span.setting[data-setting='alt'] {
      order: 1;
    }

    span.setting[data-setting='alt'] {
      order: 1;
    }

    span.setting[data-setting='caption'] {
      order: 2;
    }

    span.setting[data-setting='description'] {
      order: 3;
    }
  }

  .media-frame-content .attachment-details {
    display: block !important;

    .compat-field-media_category {
      .eml-tax-label {
        label {
          width: 127px;
        }
      }

      .term-list {
        margin-left: 147px;
      }
    }
  }

  .compat-attachment-fields {
    .acf-field {
      margin-top: 0 !important;
      margin-bottom: 4px !important;
    }
  }

  .compat-field-wpo_compress_image {
    padding-top: 32px;
  }

  .compat-field-media_category {
    .label label {
      display: block;
      text-align: right;
      width: 100px;
      margin-right: 14px;

      span {
        display: block !important;
        text-align: right !important;
      }

      br.clear {
        display: none;
      }
    }

    .term-list {
      background: transparent;
      border: 0;
      padding: 0;
      margin-left: 116px;
      margin-top: 5px;

      li, ul {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .media-types-required-info,
  .acf-expand-details {
    display: none;
  }

  .acf-gallery-toolbar {
    .acf-hl {
      .acf-fr {
        max-width: calc(100% - 142px);
      }
    }
  }

  .attachments-browser {
    .compat-item {
      padding-bottom: 1px;
    }

    .attachment-display-settings {
      > h2,
      .setting {
        display: none;
      }

      .setting:last-child {
        display: block;

        #attachment-display-settings-size {
          position: relative;
          left: 2px;
        }
      }
    }

    .media-toolbar {
      right: 372px;

      .media-toolbar-secondary {
        width: 100%;
      }

      #media-attachment-filters {
        max-width: 30%;
      }

      #media-attachment-media_category-filters {
        max-width: 33.33%;
      }

      #media-search-input {
        max-width: 30%;
        padding-top: 0;
        padding-bottom: 0;
      }

      #reset-all-filters{
        display: none;
      }
    }
  }
}
