/*
*	Custom utilities
*/

@mixin zone() {
  border: 1px dashed $red;
}

@mixin antialias() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin uppercase() {
  text-transform: uppercase;
}

@mixin grayscale($percent: 100%) {
  filter: grayscale($percent);
}

@mixin overflow-auto {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin container($max-width: 100%) {
  max-width: $max-width;
  padding-left: rem($container-padding);
  padding-right: rem($container-padding);
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-down(sm) {
    padding-left: rem($container-padding-sm);
    padding-right: rem($container-padding-sm);
  }
}

@mixin responsive($property, $desktop-size, $mobile-size, $medium-size : null) {
  @include media-breakpoint-down(sm) {
    #{$property}: $mobile-size;
  }

  @if ($medium-size) {
    @include media-breakpoint-between(sm, md) {
      #{$property}: $medium-size;
    }
  }

  @include media-breakpoint-up(md) {
    #{$property}: $desktop-size;
  }
}

@mixin responsive-text($desktop-size : $font-size-lg, $mobile-size : $font-size-sm, $medium-size : null) {
  font-size: rem($desktop-size);

  body & {
    font-size: rem($mobile-size);

    @if ($medium-size) {
      @include media-breakpoint-up(md) {
        font-size: rem($medium-size);
      }

      @include media-breakpoint-up(lg) {
        font-size: rem($desktop-size);
      }
    } @else {
      @include media-breakpoint-up(md) {
        font-size: rem($desktop-size);
      }
    }
  }
}

@mixin gutters($new-gutter-width: $grid-gutter-width) {
  .row {
    margin-left: -$new-gutter-width / 2;
    margin-right: -$new-gutter-width / 2;

    .col {
      padding-left: $new-gutter-width / 2;
      padding-right: $new-gutter-width / 2;
    }
  }
}

@mixin picture-ratio($ratio) {
  padding-top: $ratio * 100%;

  img {
    height: 100%;
    left: 50%;
    object-fit: cover;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

/*
*  Resets
*/

@mixin input-reset() {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: none;

  &:focus {
    outline: none;
  }
}

@mixin button-reset() {
  display: inline-block;
  appearance: none;
  background-color: transparent;
  border: 0;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

@mixin table-reset() {
  display: block;

  thead,
  tfoot,
  tbody,
  tr,
  th,
  td {
    display: block;
  }
}

@mixin list-reset() {
  display: block;
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

/*
* Hover transition but not on touch device
*/

@mixin transition() {
  .no-touch & {
    @content;
  }
}

/*
*  Custom media queries
*/

@mixin retina() {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}
